@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tunr</title>
	@Styles.Render("~/Content/bundles/css")
</head>
<body>
	<noscript>
		<h1>Tunr</h1>
		<p>Tunr requires a modern browser with JavaScript support.</p>
		<p>Please enable JavaScript, or download a modern browser such as Internet Explorer 11 or Google Chrome.</p>
	</noscript>
	
	<!-- Render all view components -->
	<!-- These are the HTML components to each TypeScript component object. -->
	@RenderPage("Components/Login.cshtml")
	@RenderPage("Components/Player.cshtml")

	<!-- Include all javascript -->
	@Scripts.Render("~/Content/bundles/js")
	@Scripts.Render("~/Content/bundles/ts")
	<script src="~/signalr/hubs"></script>
</body>
</html>
