@model Tunr.Models.BindingModels.PasswordResetBindingModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Forgot/_Layout.cshtml";
}

<h2>Reset Your Password</h2>
<p>Fill in the form below and we'll get your password reset.</p>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.ResetToken)

    @Html.LabelFor(model => model.NewPassword)
    @Html.PasswordFor(model => model.NewPassword)

    @Html.LabelFor(model => model.ConfirmNewPassword)
    @Html.PasswordFor(model => model.ConfirmNewPassword)

    <input type="submit" value="Reset Password" />
}